.zauberfisch\\SerializedDataObject\\Form\\ArrayListField {
	.add-record {
		margin: 0 !important;
	}
	
	div.field {
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin: 0;
		padding: 0 0 5px;
	}
	
	div.CompositeField {
		margin: 0 !important;
		padding: 0 !important;
		display: block !important;
		
		> .form__fieldgroup {
			margin: 0 !important;
			padding: 0 !important;
			max-width: none !important;
			-webkit-flex: none !important;
			flex: none !important;
		}
	}
	
	> .middleColumn > div > div > div.record-list {
		> div > .record {
			position: relative;
			
			> div:after {
				content: " ";
				display: block;
				clear: both;
			}
		
			> div > .controls {
				position: relative;
				z-index: 50;
				
				> .form__fieldgroup {
					> * {
						display: block;
						float: left;
						margin: 0 5px 0 0;
					}
					
					button {
						background: transparent;
						border-radius: 0;
					}
					.orderable-handle {
						height: 22px;
						width: 16px;
						cursor: move;
						background: center center no-repeat url('../images/orderable-handle.png');
					}
					.orderable-up, .orderable-down, .delete-record {
						padding: 2px;
						
						&:before {
							margin: 0;
						}
						span {
							display: none;
						}
						&:hover {
							background: transparent;
							opacity: .6;
						}
					}
				}
			}
			
			&:first-child > div >.controls > .form__fieldgroup .orderable-up,
			&:last-child > div >.controls > .form__fieldgroup .orderable-down {
				cursor: default;
				opacity: .4 !important;
			}
		}
	}
	
	&.layout-default {
		> label.form__field-label {
			display: block;
			-webkit-flex: none !important;
			flex: none !important;
			padding-bottom: 10px;
		}
		
		> .middleColumn {
			max-width: none !important;
			-webkit-flex: none !important;
			flex: none !important;
			
			> div > div > div.record-list {
				border-radius: 3px;
				border: 1px solid #CDCCD0;
				background: rgba(#000, .05);
				margin: 0 0 10px !important;
				
				> div > .record {
					padding: 15px 10px 10px !important;
					border-bottom: 1px solid #CDCCD0;
					
					&:last-child {
						border-bottom: 0;
					}
					
					&.pre-delete {
						background: rgba(red, .05);
					}
					
					> div > .controls {
						position: absolute;
						right: 0;
						top: 0;
					}
				}
			}
		}
	}
	
	&.layout-compact {
		> .middleColumn > div > div > div.record-list {
			> div > .record {
				&.pre-delete {
					background: rgba(red, .05);
				}
				
				> div > .fieldgroup {
					float: left;
				}
				
				> div > .controls {
					padding-top: 5px !important;
					padding-left: 5px !important;
					float: left;
				}
				
				.field--small label.form__fieldgroup-label {
					display: none;
				}
			}
		}
	}

	//div.field-inner {
	//	display: block !important;
	//
	//	> div {
	//		margin-left: 0 !important;
	//		display: block !important;
	//		padding-left: 0 !important;
	//		padding-right: 0 !important;
	//		max-width: 83.33333% !important;
	//		-webkit-flex: none !important;
	//		flex: none !important;
	//	}
	//}
}
