.zauberfisch\\SerializedDataObject\\Form\\ArrayListField {
	> label.left {
		display: block;
		float: none;
		padding-bottom: 10px;
	}
	> .middleColumn {
		max-width: 83.33333%;
	}
	div.CompositeField {
		margin: 0 !important;
		padding: 0 !important;
		display: block !important;
		
		> .form__fieldgroup {
			margin: 0 !important;
			padding: 0 !important;
			max-width: none !important;
			-webkit-flex: none !important;
			flex: none !important;
		}
	}
	//div.field-inner {
	//	display: block !important;
	//
	//	> div {
	//		margin-left: 0 !important;
	//		display: block !important;
	//		padding-left: 0 !important;
	//		padding-right: 0 !important;
	//		max-width: 83.33333% !important;
	//		-webkit-flex: none !important;
	//		flex: none !important;
	//	}
	//}
	div.field {
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin: 0;
		padding: 0 0 5px;
	}
	div.record-list {
		border-radius: 3px;
		border: 1px solid #CDCCD0;
		background: rgba(#000, .05);
		margin: 0 0 10px !important;
		
		.record {
			padding: 15px 10px 10px !important;
			border-bottom: 1px solid #CDCCD0;
			position: relative;
			
			&:last-child {
				border-bottom: 0;
			}
			&.pre-delete {
				background: rgba(red, .05);
			}
			.controls {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 50;
				
				> .form__fieldgroup {
					> * {
						display: block;
						float: left;
						margin: 0 5px 0 0;
					}
					
					button {
						background: transparent;
						border-radius: none;
					}
					.orderable-handle {
						height: 22px;
						width: 16px;
						cursor: move;
						background: center center no-repeat url('../images/orderable-handle.png');
					}
					.orderable-up, .orderable-down, .delete-record {
						padding: 2px;
						
						&:before {
							margin: 0;
						}
						span {
							display: none;
						}
						&:hover {
							background: transparent;
							opacity: .6;
						}
					}
				}
			}
			&:first-child .controls > .form__fieldgroup .orderable-up,
			&:last-child .controls > .form__fieldgroup .orderable-down {
				cursor: default;
				opacity: .4 !important;
			}
		}
	}
}
